In [2]:
# 데이터 불러오기
import pandas as pd

df = pd.read_csv('C://Users//and_c//Desktop//sparta_ga4//train_df3.csv', low_memory = False)

In [3]:
# revenue 여부를 나타내는 칼럼 추가
df['revenue_status'] = df['totals_transactionRevenue'].copy()
df['revenue_status'].fillna(0, inplace= True)
df['revenue_status'] = df['revenue_status'].where(df['revenue_status'] == 0, 1)

In [4]:
# 다룰 df 설정 camaign_df
campaign_df = df.copy()

In [5]:
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   fullVisitorId              903653 non-null  object
 1   channelGrouping            903653 non-null  object
 2   visitStartTime             903653 non-null  int64
 3   device_browser             903653 non-null  object
 4   device_operatingSystem     903653 non-null  object
 5   device_deviceCategory      903653 non-null  object
 6   geoNetwork_continent       903653 non-null  object
 7   geoNetwork_subContinent    903653 non-null  object
 8   geoNetwork_country         903653 non-null  object
 9   totals_visits              903653 non-null  int64
 10  totals_hits                903653 non-null  int64
 11  totals_bounces             903653 non-null  float64
 12  totals_newVisits           903653 non-null  float64
 13  totals_transactionRevenue  903653 non-null  float64
 14  trafficSource_source       903653 non-null  object
 15  trafficSource_medium       903653 non-null  object
 16  trafficSource_campaign     903653 non-null  object
 17  revenue_status             903653 non-null  float64
dtypes: float64(4), int64(3), object(11)
memory usage: 124.1+ MB

In [35]:
# campaign에 따른 user접속수
campaign_visit = campaign_df.groupby('trafficSource_campaign')['fullVisitorId'].count()

In [34]:
# campaign에 따른 user수
campaign_num_user = campaign_df.groupby('trafficSource_campaign')['fullVisitorId'].nunique()

In [16]:
# campaign에 따른 user action수
campaign_num_act = campaign_df.groupby('trafficSource_campaign')['revenue_status'].sum()

In [29]:
# user action 수 / user 수
per_campaign = round(campaign_num_act/campaign_num_user*100,1)

In [30]:
# 3개의 Series를 합쳐 df로 표현
campaign_table = pd.concat([campaign_num_user, campaign_num_act,per_campaign], axis=1)

In [31]:
campaign_table = campaign_table.reset_index()

In [32]:
# column명 변경
campaign_table.columns = ['campaign','total_visit', 'num_action', 'rate']

In [33]:
campaign_table

,campaign,total_visit,num_action,rate
0,(not set),865347,11050.0,1.3
1,AW - Accessories,7070,130.0,1.8
2,AW - Apparel,46,1.0,2.2
3,AW - Dynamic Search Ads Whole Site,14244,323.0,2.3
4,AW - Electronics,96,0.0,0.0
5,All Products,4,0.0,0.0
6,Data Share,1,0.0,0.0
7,Data Share Promo,16403,9.0,0.1
8,Retail (DO NOT EDIT owners nophakun and tianyu),50,1.0,2.0
9,test-liyuhz,392,1.0,0.3

In [15]:
# campaign에 따른 total_revenue
campaign_revenue = campaign_df.groupby('trafficSource_campaign')['totals_transactionRevenue'].sum()

In [27]:
campaign_revenue

trafficSource_campaign
(not set)                                          1.496781e+12
AW - Accessories                                   1.541782e+10
AW - Apparel                                       7.782000e+07
AW - Dynamic Search Ads Whole Site                 2.713255e+10
AW - Electronics                                   0.000000e+00
All Products                                       0.000000e+00
Data Share                                         0.000000e+00
Data Share Promo                                   5.973800e+08
Retail (DO NOT EDIT owners nophakun and tianyu)    2.295000e+07
test-liyuhz                                        4.200000e+07
Name: totals_transactionRevenue, dtype: float64

In [25]:
# 총 revenue / user 수
campaign_revenue/campaign_num_user

trafficSource_campaign
(not set)                                          2.170119e+06
AW - Accessories                                   2.855681e+06
AW - Apparel                                       2.047895e+06
AW - Dynamic Search Ads Whole Site                 2.491968e+06
AW - Electronics                                   0.000000e+00
All Products                                       0.000000e+00
Data Share                                         0.000000e+00
Data Share Promo                                   4.458392e+04
Retail (DO NOT EDIT owners nophakun and tianyu)    4.989130e+05
test-liyuhz                                        1.627907e+05
dtype: float64